{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div style="margin: auto; width: 80%;">
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['PS3', 'PS4', 'X360', 'XOne', 'PC', 'Wii', 'WiiU', '3DS', 'PSV', 'PSP'],
        datasets: [{
            label: 'Console Game Copy Sales Since 2013 (in millions)',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{{ platform_totals['PS3']}}, {{ platform_totals['PS4']}}, {{ platform_totals['X360']}}, {{ platform_totals['XOne']}}, {{ platform_totals['PC']}}, {{ platform_totals['Wii']}}, {{ platform_totals['WiiU']}}, {{ platform_totals['3DS']}}, {{ platform_totals['PSV']}}, {{ platform_totals['PSP']}}]
        }]
    },
    options: {}
});
</script>
<br>
<br>
<br>
<br>
<iframe width="540" height="295" src="https://www.youtube.com/embed/dp-57UmL7CA"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen style="margin: 0;">
</iframe>
</div>
{% endblock %}